/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 h6.t-section {

    font-family: sans-serif;
    color: #872728;
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
    font-weight: bold !important;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -1px;

}

 #tryst-calendar header{
    display: initial;
}

.badge.t-code{
    font-size: 24px;
}

 #info-modal .modal-dialog, #modal-form-meeting .modal-dialog{
        min-width: 70vw;
        margin: auto;
        padding: 2rem;
}

.today h5 {
    font-weight: bold;
    text-decoration: underline;
}

 @media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 17.2857vw;
    }
    .available, .unavailable {
        padding: 2px 6px;
        margin: 6px 0;
        line-height: normal;    
    }  
}